body{
  background-image:url("1000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#you{
  position: absolute;
  top: 533px;
  font-size: 50px;
  margin-left: 44%;
  background-color: #85FF38;
}
#clock{
  position: absolute;
  top: 59px;
  margin-left: 43%;
  width: 300px;
  height: 300px;
  border: 5px solid #ddd;
  border-radius: 50%;
  position: relative;
}
.clock-num{
  font-size: 21px;
  position: absolute;
  width: 20px;
  height: 50%;
  top: 0px;
  right: calc(50% - 10px);
  transform-origin: bottom center;
}
#num-five{

}
#second-hand{
  width: 1px;
  height: 41%;
  background: red;
  position: absolute;
  top:10%;
  right: calc(50% - 1px);
  transform-origin: bottom center;
}


#hour-hand{
  width: 3px;
  height: 31%;
  background:  #FFEB3B;
  position: absolute;
  top:22%;
  right: calc(50% - 3px);
  transform-origin: bottom center;
  /*width: 3px;
  height: 38%;
  background: #FFEB3B;
  position: absolute;
  top:53%;
  right: calc(50% - 3px);
  transform-origin: bottom center;*/
}
#minute-hand{
  width: 3px;
  height: 34%;
  background: #fff;
  position: absolute;
  top:19%;
  right: calc(50% - 3px);
  transform-origin: bottom center;
  /*
  width: 2px;
  height: 38%;
  background: #fff;
  position: absolute;
  top:53%;
  right: calc(50% - 3px);
  transform-origin: bottom center;
  */
}
#clock-center{
  position: absolute;
  z-index: 2;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: calc(53% - 6px);
  right: calc(50% - 6px);
  background: #000;
}
#noi{
  width: 3px;
  height: 34%;
  background: #000;
  position: absolute;
  top:38%;
  right: calc(52% - 7px);
  transform-origin: bottom center;
}
#hog{
  width: 3px;
  height: 34%;
  background: #fff;
  position: absolute;
  top:38%;
  right: calc(45% - -20px);
  transform-origin: bottom center;
}
.gif{
  position: absolute;
  left: 870px;
  top: 591px;
  width: 225px;
}
#mop{
position: absolute;
left: 968px;
top: -5px;
width: 144px;
visibility: hidden;
}
